@import "tailwindcss";

@theme inline {
  --color-primary: #CCFF00;
  --color-primary-dark: #b3e600;
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  * {
    @apply border-slate-700;
  }
}
